In [54]:
import pandas as pd
import math
import io
import json

In [81]:
def get_distance(lat_1, lng_1, lat_2, lng_2): 
    lng_1, lat_1, lng_2, lat_2 = map(math.radians, [lng_1, lat_1, lng_2, lat_2])
    d_lat = lat_2 - lat_1
    d_lng = lng_2 - lng_1 

    temp = (  
         math.sin(d_lat / 2) ** 2 
       + math.cos(lat_1) 
       * math.cos(lat_2) 
       * math.sin(d_lng / 2) ** 2
    )

    return 6373.0 * (2 * math.atan2(math.sqrt(temp), math.sqrt(1 - temp)))

In [2]:
!ls

README.md               maps                    read_map_with_canvas.py
TODO.md                 mmb routes-real.ipynb   requirements.txt
Untitled.ipynb          mmb routes.ipynb        test
check_for_mistakes.py   mmb2019o-kp.wpt         test.png
join maps.ipynb         orcestrate.py           tmp
map analyze py3.ipynb   prepare_map.py          top_routes.py

In [44]:
f = open('mmb2019o-kp.wpt')
data = f.read()
csv = '\n'.join(data.split('\n')[4:])
test_file = io.BytesIO(csv.encode('ascii'))

data = pd.read_csv(test_file,header=None)

data.columns = ['-1','name','lat','long'] + [i for i in range(4,25)]

In [77]:
def get_real_point(data,name):
    return data[data.name == name].iloc[0]

In [45]:
dat

,-1,name,lat,long,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,-1,ST,56.393861,38.492488,43630.424324,16,1,3,0,65535,...,6,0,17,0,10.0,2,NaN,NaN,NaN,180
1,-1,01L,56.411056,38.492866,43639.242257,16,1,3,0,65535,...,6,0,17,0,10.0,2,NaN,NaN,NaN,180
2,-1,01,56.422966,38.498594,43639.285405,16,1,3,0,65535,...,6,0,17,0,10.0,2,NaN,NaN,NaN,180
3,-1,02,56.435464,38.509415,0.000000,16,1,3,0,65535,...,6,0,17,0,10.0,2,NaN,NaN,NaN,0
4,-1,03,56.444221,38.534352,43639.382141,16,1,3,0,65535,...,6,0,17,0,10.0,2,NaN,NaN,NaN,180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,-1,50,56.567292,38.857527,43715.365428,16,1,3,0,65535,...,6,0,17,0,10.0,2,NaN,NaN,NaN,180
57,-1,51,56.556267,38.839507,43639.641505,16,1,3,0,65535,...,6,0,17,0,10.0,2,NaN,NaN,NaN,180
58,-1,52,56.546090,38.839415,43729.372454,16,1,3,0,65535,...,6,0,17,0,10.0,2,NaN,NaN,NaN,180
59,-1,53,56.529290,38.861480,43736.291169,16,1,3,0,65535,...,6,0,17,0,10.0,2,NaN,NaN,NaN,180
60,-1,FI,56.523415,38.851277,43736.271019,16,1,3,0,65535,...,6,0,17,0,10.0,2,NaN,NaN,NaN,180

In [46]:
pt1 = data.iloc[0]
pt2 = data.iloc[1]

In [47]:
get_distance(pt1.lat,pt1.long,pt2.lat,pt2.long)

1.9127384853566098

In [42]:
get_distance(0,0,0,1)

111.22983322959863

In [75]:
def image_dist(x1,x2,y1,y2,factor):
    return math.sqrt((x1-x2)**2 + (y1-y2)**2)*factor
def get_point(points,name):
    return points[points.text_digits==name].iloc[0]

In [64]:
full_data = open('tmp/1v.png.dat').read()
full_data = json.loads(full_data)
factor = full_data['factor']

points = pd.read_json(full_data['points'])

In [84]:
p1 = get_point(points,"16")
p2 = get_point(points,"17")
d1 = image_dist(p1.x,p2.x,p1.y,p2.y,factor)
d1

1.4506187371473787

In [85]:
p1 = get_real_point(data,"16")
p2 = get_real_point(data,"17")
d2 = get_distance(p1.lat,p1.long,p2.lat,p2.long)
d2

1.4352899017411826

In [86]:
d1/d2

1.0106799576779577

In [88]:
data_new = data[['name','lat','long']]

In [89]:

data_new.to_csv('mmb_2019o_points.csv')